---
import { retrieveCategoryList } from '@utils/retrieveCategoryList'
import type { Question } from '@/types'

export async function getStaticPaths() {
  const categoryList = await retrieveCategoryList()
  const categoryIdList = categoryList.map((category) => category.id)
  const categories = [...categoryIdList]
  const difficulties = ['easy', 'medium', 'hard']
  const questionTypes = ['multiple', 'boolean']

  const paths = []
  for (const category of categories) {
    for (const difficulty of difficulties) {
      for (const questionType of questionTypes) {
        paths.push({
          params: {
            category,
            difficulty,
            questionType,
          },
        })
      }
    }
  }

  return paths
}

const { category, difficulty, questionType } = Astro.params

const url = 'https://opentdb.com/api.php'

const response = await fetch(
  `${url}?amount=10&category=${category}&difficulty=${difficulty}&type=${questionType}`
)

const data = await response.json()
---

<html>
  <head>
    <title>Quiz - {category}</title>
  </head>
  <body>
    <h1>Quiz</h1>
  </body>
</html>
